@media screen and (min-width: 1000px){
    
    body{
        background: #CCCC;
        padding-top: 5%;

    }


    .div-principal{
        display: block;
        width: 80%;
        background-color: white;
        height: 800px;
        border-radius: 10px;
        margin: 0 auto
    }

    .div-login{
        width: 25%;
        background-color: rgb(116,149,159);
        display: inline-block;
        height: 100%;
        border-radius: 10px 10px
    }

    .div-criar-conta{

    }
    
    .div-login-marca{
        width:100%;
        padding: 20%;

    }
    
    .logo-marca{
        margin-top:0px;
        width:25%;
        vertical-align: middle; 
        display: inline-block;
    }
    .div-login-escrita{
        display: inline-block;
        margin;
        width:25%
    }
    .login-escrita{
        font-size:28px;
        display: inline-block;
        font-weight: bold;
        font-family: Arial;
        vertical-align: middle; 
    }
    
    .login-escrita-white{
        color:white;
    }
    .texto-boas-vindas{
        text-align: center;
        font-family: Arial;
        font-size:20px;
        font-weight: 600;
        margin:0
    }
    
    .div-login-entrar{
        padding-top:150px;
        text-align: center;
        font-weight:600;
        font-family: Arial;
    }
    
    .btn-padrao{
        display: block;
        border-radius:10px;
        border:2px solid black;
        font-size:20px;
        background-color:white;
        width: 40%;
        padding:10px 30px;
        margin: 0 auto;
        -webkit-box-shadow: 5px 5px 5px 4px #000000; 
box-shadow: 5px 5px 5px 4px #000000;
    }
    
    .btn-padrao-branco{
                background-color: white;
    }
    .btn-padrao-comum{
                background-color: rgb(116,149,159);
    }
    
    .link-acesso-conta{
        display:block;
        padding-bottom: 50px;
    }
}